GLUETUN_USER="your_gluetun_username"
GLUETUN_PASS="your_gluetun_password"
QBITTORRENT_USER="your_qbittorrent_username"
QBITTORRENT_PASS="your_qbittorrent_password"
PUSHOVER_USER="your_pushover_user_key"
PUSHOVER_TOKEN="your_pushover_app_token"
